<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>BONOBONO</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Antic'>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <script src="jquery-3.3.1.min.js"></script>
</head>

<body>
  <div class="container" id="totalDiv" align="center">
    <div class="text">
      <h1>
        <span style="color:#ff5a5f">Air</span>
        <span style="color:#2db9ec"> Bonobono</span>
      </h1>
    </div>
  <div></div>
  <div class="buttonClass">
    <input type="text" class="button" id="searchBtn" placeholder="Enter the location..."/>
  </div>
</div>
<script src='https://use.edgefonts.net/amaranth.js'></script>
<script src="javascripts/result.js"></script>
</body>

</html>