<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" type="text/css" href="stylesheets/loading.css">
</head>

<body>
    <div class="loader"></div>
    <div class="container">
    </div>

</body>
<script>
    var _showPage = function () {
        var loader = $("div.loader");
        var container = $("div.container");
        loader.css("display", "none");
        container.css("display", "block");
    };
</script>

</html>