<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/result.css">
    <title>result</title>
    <style>
    </style>
</head>

<body>
    <section class="header">
        <div class="logo">
            <h1>
                <span style="color:#ff5a5f">Air</span>
                <span style="color:#2db9ec"> Bonobono</span>
                <h1>
        </div>
        <div class="search">
            <input type="text" id="searchBtn" placeholder="Enter the location..." style="width: 90%;" onkeypress="return searchData(event);">
        </div>
        </div>
        <div class="icon" id="searchIcon" onclick="return searchData_ByPress();">
            <img src="images/search_icon.png" width="42" height="42">
        </div>

    </section>
    <section class="container">
        <div class="checkbox">
            <div class="semi-title">
                <h3>Crime Filter</h3>
            </div>
            <div class="box">
                <input type="checkbox" class="searchCheck" value="value_1" /> 강도
            </div>
            <div class="box">
                <input type="checkbox" class="searchCheck" value="value_1" /> 총기 범죄
            </div>
            <div class="box">
                <input type="checkbox" class="searchCheck" value="value_1" /> 오토바이 강도
            </div>
            <div class="box">
                <input type="checkbox" class="searchCheck" value="value_1" /> 폭행
            </div>
            <div class="box">
                <input type="checkbox" class="searchCheck" value="value_1" /> 살인
            </div>
            <div class="filter_search">
                <form>
                    <input type="button" value="Search" onclick="applyFilter();">
                </form>
            </div>
        </div>

        <div id="map">

        </div>
        <div class="recommend">
            <div class="semi-title2">
                <h3>Best house</h3>
            </div>
        </div>

    </section>
    <div id="snackbar">Some text some message..</div>
    <div class="loader" style="display:none;"></div>
    <script>
        let allMarkers = [];
        let map;

        window.onload = function () { // init
            let checkboxes = document.getElementsByClassName('searchCheck');
            for (let i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = true;
            }
        }

        function addMarker(location, title, label, map) {
            var m = new google.maps.Marker({
                position: location,
                title: title,
                label: label,
                map: map
            });
        }

        function myMap() {
            var mapOptions = {
                center: new google.maps.LatLng(51.5, -0.12),
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.HYBRID
            }
            map = new google.maps.Map(document.getElementById("map"), mapOptions);
        }

        function initMap() {
            var center_of_chicago = {
                lat: 41.881832,
                lng: -87.623177
            };


            var markers = sessionStorage.markData;
            var centerMark = sessionStorage.location;
            var markers_crime = sessionStorage.crimeData;

            centerMark = JSON.parse(centerMark);
            markers = JSON.parse(markers);
            markers_crime = JSON.parse(markers_crime);

            //console.log(typeof(crimeData));
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: {
                    lat: Number(centerMark.lat),
                    lng: Number(centerMark.lng)
                }
            });

            markers.sort(function (a, b) {
                return b["review_scores_rating"] - a["review_scores_rating"];

            });

            for (var i = 0; i < 5; i++) {
                let divHouse = document.createElement('div');
                divHouse.setAttribute('class', 'house');
                let divHouseImage = document.createElement('div');
                divHouseImage.setAttribute('class', 'house-image');
                let divHouseName = document.createElement('div');
                divHouseName.setAttribute('class', 'house-name');
                let img = document.createElement('img');
                img.src = markers[i].thumbnail_url;
                img.setAttribute('width', "108");
                img.setAttribute('height', "72");
                let textarea = document.createElement('textarea');
                textarea.value = JSON.stringify(markers[i].name);
                textarea.setAttribute('wrap', "virtual");
                textarea.style.height = "60px";

                divHouseImage.appendChild(img);
                divHouseName.appendChild(textarea);
                divHouse.appendChild(divHouseImage)
                divHouse.appendChild(divHouseName)
                document.getElementsByClassName('recommend')[0].appendChild(divHouse);
            }

            for (var i = 0; i < markers.length; i++) {
                marker = new google.maps.Marker({
                    position: {
                        lat: markers[i].latitude,
                        lng: markers[i].longitude
                    },
                    map: map,
                    title: JSON.stringify(markers[i].name)
                });

                marker.addListener('click', function () {
                    var x = document.getElementById("snackbar");
                    x.className = "show";
                    x.innerText = this.title;
                    setTimeout(function () {
                        x.className = x.className.replace("show", "");
                    }, 2000);

                });
            }

            for (var i = 0; i < markers_crime.length; i++) {
                marker = new google.maps.Marker({

                    position: {
                        lat: Number(markers_crime[i].latitude),
                        lng: Number(markers_crime[i].longitude)
                    },
                    map: map,
                    icon: {
                        path: google.maps.SymbolPath.CIRCLE,
                        fillColor: 'blue',
                        fillOpacity: .2,
                        strokeColor: 'white',
                        strokeWeight: .5,
                        scale: 10
                    },
                    snippet: markers_crime[i].primary_type
                });
                allMarkers.push(marker);
            }
        }

        function applyFilter() {
            let checkBox = document.getElementsByClassName("searchCheck")
            let crimes = ["ROBBERY", "WEAPONS VIOLATION", "MOTOR VEHICLE THEFT", "ASSAULT", "HOMICIDE"]
            let selected = [];
            for (let i = 0; i < checkBox.length; i++) {
                if (checkBox[i].checked == true) {
                    selected.push(crimes[i])
                }
            }

            for (let i = 0; i < allMarkers.length; i++) {
                allMarkers[i].setMap(null);
                allMarkers[i].setVisible(false)
            }
            allMarkers = new Array();

            let markers_crime = sessionStorage.crimeData;
            markers_crime = JSON.parse(markers_crime);
            for (var i = 0; i < markers_crime.length; i++) {
                if (selected.indexOf(markers_crime[i].primary_type) == -1) {
                    continue;
                }
                marker = new google.maps.Marker({
                    position: {
                        lat: Number(markers_crime[i].latitude),
                        lng: Number(markers_crime[i].longitude)
                    },
                    map: map,
                    icon: {
                        path: google.maps.SymbolPath.CIRCLE,
                        fillColor: 'blue',
                        fillOpacity: .2,
                        strokeColor: 'white',
                        strokeWeight: .5,
                        scale: 10
                    },
                    snippet: markers_crime[i].primary_type
                });
                allMarkers.push(marker);
            }
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQZ22KzXUgiMCBSejOXiv1DXZ0NWHUkgE&callback=initMap">
    </script>
    <script src="javascripts/result.js"></script>

</body>

</html>