body {
  background-color: #343A40;
}

.header {
  background-color: #343A40;
  height: 80px;
  display: flex;
  text-align: center;
  vertical-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header .logo {
  padding-right: 30px;
}

.header .search {
  width: 500px;
}

.header .margin {}

input {
  font-size: 16px;
  padding: 10px;
  border: 0px;
  outline: none;
}

.container {
  width: 100%;
  display: flex;
  background-color: white;
}

.checkbox {
  background-color: #495056;
  flex: box;
  flex: 1;
  float:left;
}

#map {
  flex: 3;
  height: 546px;
  margin-left: auto;
  margin-right: auto;
}

.recommend {
  background-color: #ffffff;
  flex: 1;
  float:right;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.semi-title{
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: center;
  border-bottom:1px solid #343A40;
  color: white;
}
.box{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom:1px solid #343A40;
  color: white;
}

.filter_search{
  margin: 20px;
  text-align: center;
  vertical-align: center;

}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.semi-title2{
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: center;
  border-bottom:1px solid #ffffff;
  color: rgb(84, 89, 94);
}

.house{
  margin: 10px;
  background-color:  rgb(84, 89, 94);
  height: 80px;
  display: flex;
  text-align: left;
  vertical-align: middle;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.house .house-image{
  padding: 3px;
}

.house .house-name textarea{
  background-color: rgb(84, 89, 94);
  color: #fff;
  font-weight: 800;
  border: none;
}